$v2-teal-primary: #008D92;
$v2-teal-primary-light: #00ced533;

$v2-cyan-primary: #0cd5dc;

$v2-white-smoke: #fdf3f3;
$v2-white-primary: #ffffff;

$v2-red-primary: #ff0000;
$v2-red-primary-light: lighten($v2-red-primary, 25%);

$v2-gray-light: #f2f2f2;
$v2-gray-tertiary: #424b57;
$v2-gray-primary: #dedede;
$v2-gray-primary-light: lighten($v2-gray-primary, 10%);
$v2-gray-primary-dark: darken($v2-gray-primary,25%);
$v2-gray-primary-darker: darken($v2-gray-primary,45%);

$v2-black-primary: #1a1a1a;

$v2-black-primary-lighter: #262626;
$v2-black-primary-darker: #141414;
$v2-black-primary-darkest: #111111;

